//VARIABLES
$secondary-color: #B8860B;
$primary-color: #FFD700;

$black: #000;
$white: #FFF;
$dark-grey: #999;
$grey: #CCC;
$light-grey: #EEE;

$sections-link-hover-bg: #666;
$sections-link-hover-shadow: #333;

$people-link-hover-bg: #4169E1;

$container-bg: #212121;

$mobile-first-link-bd: #CCD;



$titles-font: Impact, sans-serif;
$body-font: Arial, sans-serif;
$main-font: 'Damion';